<template>
    <div>
        <app-header>
            <router-link to="/" class="btn btn-primary go-back">Back</router-link>
            <h1>
                {{ artical.title }}
            </h1>
        </app-header>
        <div v-if="artical" class="container">
            <img class="card-img-top" :src="artical.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ artical.title }}</h5>
                <p class="card-text">{{ artical.content }}</p>
            </div>
        </div>
    </div>
</template>
<script>
import AppHeader from './../../components/app-header';
import axios from 'axios';
export default {
    data(){
        return {
            artical:null
        }
    },
    components:{
        AppHeader,
    },
    mounted(){
        axios.get('http://localhost:3000/blog/'+this.$route.params.id).then( res => {
            this.artical = res.data;
        });
    }
}
</script>
<style lang="scss" scoped>
img{
    height:400px;
    margin-top:50px
}.go-back{
    position:relative;
    top:5px;
    left:5px;
    z-index:2;
    color: #a7a7a7;
    background-color: #2f062f;
    border-color: #6f0b6f;
    &:hover{
        background-color: #6f0b6f;
        border-color: #2f062f;
    }
}
</style>