<template>
    <div>
        <app-header><h1>Blog</h1></app-header>
        <div class="container">
        <div class="row" v-if="posts">
            <blog-card v-for="post in posts" :key="post.id" :data="post"></blog-card>
        </div>
            <div class="pagnation text-center" v-if="posts && posts.length < totalCount"><button class="btn btn-primary show-more" @click="loadMore">Show More</button></div>
        </div>
    </div>
</template>
<script>

import AppHeader from './../../components/app-header';
import blogCard from './../../components/blog-card';
import axios from "axios";

export default {
    data(){
        return {
            posts:null,
            page: 1,
            totalCount:null
        }
    },
    components:{
        AppHeader,
        blogCard
    },
    mounted() {
        this.gitPost(this.page);
    },
    methods:{
        gitPost:function(page){
            axios.get(`http://localhost:3000/blog?${page}=1&_limit=6`).then( (res) => {
            this.posts = this.posts ? this.posts.concat(res.data) : res.data;
            this.totalCount = res.headers['x-total-count'];
        });
    },
    loadMore: function(){
        this.page++;
        this.gitPost(this.page);
    }
  }
}
</script>
<style lang="scss">
.show-more{
    margin-bottom:50px
}
</style>