<template>
    <header>
        <div class="layout"></div>
        <slot></slot>
    </header>
</template>

<style lang="scss">
header{
    height:250px;
    background-size:100% 100%;
    background-image:url(../assets/img/header.jpg);
    position:relative;
    .layout{
        position: absolute;
        width: 100%;
        height: 100%;
        background: #330033;
        background-image: linear-gradient(135deg, #330033 0%, #330033 100%);
        opacity: 0.8;
    }
    h1{
        color:#fff ;
        position:relative;
        z-index: 1;
        font-family: 'Lato', sans-serif;
        margin:0;
        text-align:center;
        line-height: 250px;
    }
}
</style>

<script>
export default {
    
}
</script>>