<template>
    <div class="col-md-12">
        <div class="card" v-if="data">
            <img class="card-img-top" :src="data.image" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ data.title }}</h5>
                <p class="card-text">{{ data.content | truncate }}</p>
                <router-link class="" :to="`/article/${data.id}`">Read More</router-link>
            </div>
        </div>
    </div>
</template>
<style lang="scss">
.card{
    margin:30px;
    width:100%;
    img{
        height:400px;
    }
}
</style>

<script>
export default {
    props: {
        data: {
            required:true
        }
    },
    filters: {
        truncate: function(val){ return val.substring(0,300) }
    }
}
</script>